<div id="login-box" ng-controller ="historyController">
 <style>
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 680px;
  height: 500px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 380px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
 </style>
  <div class="left" ng-controller ="historyController">
    <table align="center">
			<th>Sr.No.</th>
			<th>Name of Company</th>
			<th>Type of Company</th>
			<th>Date</th>
			<th>Current Stock Value</th>
  			<tr ng-repeat="x in content">
			   <td>{{ $index + 1 }}</td>
			   <td>{{ x.name }}</td>
			   <td>{{ x.companyType }}</td>
			   <td>{{ x.date }}</td>
			   <td>{{ x.close }}</td>
			    <td><input type="checkbox" ng-model="x.selected"
                ng-true-value="'{{x.name}}'" ng-false-value="''"
                id="'{{x.name}}'" /></td>
			</tr>
			</table>
			<p>L:Large Cap M:Medium Cap S:Small Cap</p>
			<button ng-click="del(content)" align="center">Delete Selected Companies</button>
			</form>
  </div>
</div>